@media only screen and (min-width: 768px) {
    /* Estilos CSS para tablets y escritorios */
  }
  
  @media only screen and (max-width: 1200px) {
    /* Estilos CSS para dispositivos móviles */
  }

* {
   padding: 0; 
   margin: 0;
   /*background-color: #F8FAFD;*/
}

p{
    font-family: Open Sans;
    font-size: 1rem;
    line-height: 1.5rem;
    color:#666666;
    text-align: justify;
}
.navbar{  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8FAFD
}
.navbar-logo{
    width: 6rem;
    height: auto;
    margin-left: 5%;
}
.navbar-menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: px;

}
.item{
    margin-right: 20px;
    list-style: none;
    cursor: pointer;
    font-size: 0.75rem;
    font-family: Open Sans;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    color:#333333;
}
.item-arrow {
    list-style: none;
    margin-left: -15px;
    
}

.btn-download{
    background-color: transparent;
    color:#EA6371;
    border: 0.10rem solid #EA6371;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 2rem;
    font-weight: 600;
    font-size: 0.75rem;
    font-family: Open Sans;
    margin-right: 2.5rem;
    display: flex;
    flex-wrap: wrap;
}
/* 
#navbar-logo{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 100 px;
    
}
.logo{
    height: 130px;
    width: 100px;
}
.menu{
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    list-style: none;
    font-size: 0.75rem;
   
}
.item {
    margin: 0 15px;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600px;
    font-style: bold;
    cursor: pointer;
    color:black;
}
.item:hoover {
    color: #EA6371;
}
.btn{
    padding: 10px 10px;
    border: #EA6371 solid;
    border-radius: 45%;
    font-weight: 600;
    color: #EA6371;
    border-color: #EA6371;
    cursor: pointer;
}
 */
.banner {
    padding: 200px;
    background-color: #F8FAFD
}
.h1-banner {
    font-size: 3.3rem;
    font-family: Open Sans;
    text-align: center;
    color: #333333;
}
.p-banner{
    padding: 10px;
    font-family: Open Sans;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
    color:#666666
}
.button-download{
    display: flex;
    gap: 10px;
    justify-content: center;
   
}
.button {
    display: flex;
    justify-content: center;
    padding: 0.9em 1.3em;
    background-color: #EA6371;
    font-family: Open Sans;
    color: white;
    text-decoration:none;
    border-radius: 2rem;
    
}
.header-iphone {
    width: 80%;
    height: 80%;
    padding: 15% 10%;
    max-width: 100%;
}

.banner-iphone{
    margin-bottom: -350px;
}
/* Container icons */
.banner-icons{
    margin-top: -300px;
    width: 100%;
    background-color: #F8FAFD;
    margin-bottom: -50px;
}

.icon-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    justify-content:space-around;
    flex-wrap: wrap;
    margin: 0% 10%;
    margin-top: 20px;
  }
  
  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    display:inline-block;  
  }
  
  .img-icon {
    width: 100px;
    height: 100px;
  }

  .p-icon {
    text-align: center;
    color:#333333;
    font-weight: 600;
    padding: 0%;
  } 

  /* SECTION DESCRIPTION */

  .container-description{
    display: flex;
    justify-content: space-around;
    margin-top: 8%;
    margin-right: 300px;
    gap: 10%;
    background-color: #F8FAFD;
    margin-bottom: -145px;
    

  }
  .img-my-picks{
    width: 536px;
    height: 600px;
    margin-left: 400px;
    padding-bottom: 250px;
  }

  h2{
    font-family: Open Sans;
    color: #333333;
    font-size: 2.5rem;
    text-align: left;
    margin-right: 100px;
  }

  .p-organize-your-time{
    margin-right: 150px;
    text-align: left;
    line-height: 1.9rem;
    margin-top: 5%;
}

.list-organize-your-time{
    font-family: Open Sans;
    color:#666666;
    list-style-type: square;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
    margin-right: 150px;
    text-align: left;
    line-height: 1.9rem;
    margin-top: 3%;   
}

.lightbox{
    display: flex;
    justify-content: center;
    padding: 0.9em 1.3em;
    background-color: #EA6371;
    font-family: Open Sans;
    color: white;
    text-decoration:none;
    border-radius: 2rem;
    margin-top: 5%;
}

/* SECTION TRACKING */
#section-tracking{
    background-color: #EAEFF6;
    width: 100%;
    max-width: 100%;
}

.container-tracking{
    display: flex;
    justify-content: space-around;
    margin-right: 300px;
    gap: 10%;
    width: 100%;
    padding-top: 150px;

}
.left{
    display: flex;
    flex-direction: column;
    margin-left: 400px;
    background-color: #EAEFF6;
}

.p-tracking{
    text-align: left;
    line-height: 1.9rem;
    margin-top: 5%;
}

.list-tracking{
    font-family: Open Sans;
    color:#666666;
    list-style-type: none;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
    margin-right: 150px;
    text-align: left;
    line-height: 1.9rem;
    margin-top: 3%;
    
}
.p-list-tracking{
    padding-left: 20px; /* Añadimos un espacio a la izquierda para la imagen */
    background-image: url('./images/green-check.png'); /* Especificamos la ruta de la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: left top; /* Posiciona la imagen a la izquierda y al centro verticalmente */
    background-size: 4.6%;
    
}
.calendar{
    margin-right: 400px;
}
  .img-calendar{
    width: 536px;
    height: 600px;
    background-color: #EAEFF6;
  }