
* {
   padding: 0; 
   margin: 0;
   background-color: #F8FAFD;
}

p{
    font-family: Open Sans;
}
.navbar{  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-logo{
    width: 6rem;
    height: auto;
    margin-left: 5%;
}
.navbar-menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: px;

}
.item{
    margin-right: 20px;
    list-style: none;
    cursor: pointer;
    font-size: 0.75rem;
    font-family: Open Sans;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    color:#333333;
}
.item-arrow {
    list-style: none;
    margin-left: -15px;
    
}

.btn-download{
    background-color: transparent;
    color:#EA6371;
    border: 0.10rem solid #EA6371;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 2rem;
    font-weight: 600;
    font-size: 0.75rem;
    font-family: Open Sans;
    margin-right: 2.5rem;
    
}
/* 
#navbar-logo{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 100 px;
    
}
.logo{
    height: 130px;
    width: 100px;
}
.menu{
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    list-style: none;
    font-size: 0.75rem;
   
}
.item {
    margin: 0 15px;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600px;
    font-style: bold;
    cursor: pointer;
    color:black;
}
.item:hoover {
    color: #EA6371;
}
.btn{
    padding: 10px 10px;
    border: #EA6371 solid;
    border-radius: 45%;
    font-weight: 600;
    color: #EA6371;
    border-color: #EA6371;
    cursor: pointer;
}
 */
.banner {
    padding: 200px;
}
.h1-banner {
    font-size: 3.3rem;
    font-family: Open Sans;
    text-align: center;
    color: #333333;
}
.p-banner{
    padding: 10px;
    font-family: Open Sans;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
    color:#666666
}
.button-download{
    display: flex;
    gap: 10px;
    justify-content: center;
   
}
.button {
    display: flex;
    justify-content: center;
    padding: 0.9em 1.3em;
    background-color: #EA6371;
    font-family: Open Sans;
    color: white;
    text-decoration:none;
    border-radius: 2rem;
    
}
.header-iphone {
    width: 80%;
    height: 80%;
    padding: 15% 10%;
}

.banner-iphone{
    margin-bottom: -200px;
}
/* Container icons */
.banner-icons{
    margin-top: -200px;
}

.icon-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    justify-content:space-around;
    margin: 0% 10%;
    margin-top: 20px;
  }
  
  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    display:inline-block;  
  }
  
  .img-icon {
    width: 100px;
    height: 100px;
  }

  .p-icon {
    text-align: center;
    color:#333333;
    font-weight: 500;
    padding: 0%;
  } 